HTML/
JSONS/
node_modules/
src/debug/
debug/

dist/
__jobs__/
__processed__/

\.env
npm-debug.log
JSON/

others/

constants/

index\.js

dm\.json

DOCS/
DM*

src/dev.ts
jobs.json
job.json
*.zip
tmp/

test-kineses.ts

.scannerwork
package-lock.json
